<h1>Jared Hates...</h1>
  <div class="container">
      <div id="carousel">
      <figure><img src="<%= asset_path("everything1.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("brazilians.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything2.png") %>"/></figure>
      <figure><img src="<%= asset_path("css.png") %>"/></figure>
      <figure><img src="<%= asset_path("everything3.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything4.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("galaxy.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything5.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything6.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything7.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("sync.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("everything8.jpg") %>"/></figure>
      <figure><img src="<%= asset_path("you.jpg") %>"/></figure>
    </div>
  </div>